.lastTransactionsItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #dbdfea;
    padding: 0 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.lastTransactionsItem:hover {
   transform: scale(1.05);
}

.lastTransactionsItem__title {
    font-size: 0.8em;
}
