.incomeChart__wrapper {
    display: flex;
	flex-direction: column;
	width: 30vw;
    height: calc(30vh - 15px);
	background-color: #24263a;
	border-radius: 10px;
	overflow: hidden;
    margin-right: 15px;
}

.incomeChart__title {
    align-self: center;
	margin: 0;
	font-size: 1.1em;
	font-weight: 400;
	color: #dbdfea;
	margin: 0 0 0.5rem 1rem;
	padding-top: 1rem;
}

.incomeChart {
   transform: translateY(-10px);
}