.details__wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-left: 1rem;
}

.details__avatar {
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 50%;
	margin-right: 1rem;
}

.details__name {
	font-size: 1rem;
	max-width: 10rem;
	font-weight: 400;
	color: #dbdfea;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
