.sidebar__wrapper {
    min-width: 15vw;
    height: 100vh;
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    justify-content: start;
    margin-right: 15px;
    padding-left: 17px;
    background-color: #24263A;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}