.lastTransactions__wrapper {
	display: flex;
	flex-direction: column;
	width: 30vw;
	height: calc(30vh - 15px);
	background-color: #24263a;
	border-radius: 10px;
	overflow: hidden;
}

.title__wrapper {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	height: fit-content;
	margin: 0 1rem 1rem 1rem;
}

.lastTransactions__title {
	align-self: center;
	margin: 0 0 0 15px;
	font-size: 1.1em;
	font-weight: 400;
	color: #dbdfea;
	margin: 0 0 0.5rem 1rem;
	padding-top: 1rem;
}

.lastTransactions__select {
	-moz-appearance: none;
	-webkit-appearance: none;
    background-color: #1d1e2c;
	color: #dbdfea;
	font-size: 0.8em;
	border-radius: 20px;
	border: none;
	height: fit-content;
	text-align: center;
	padding: 0.5rem 0.5rem;
	transition: all 0.2s ease-in-out;
}

.lastTransactions__select:hover {
	background-color: #353853;
}


.lastTransactions__select option {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	border: none;
    outline: none;
	background-color: #1d1e2c;
}

.lastTransactions__list {
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	padding: 0 1rem;
}