.sidebarButton {
	display: flex;
	flex-flow: row;
	justify-content: flex-start;
	align-items: center;
	border: none;
	background: #24263a;
	color: #dbdfea;
	padding: 0.5rem 0;
	font-size: 1em;
	transition: all 0.2s ease-in-out;
}

.sidebarButtonIcon {
	width: 15px;
	height: 15px;
	margin: 0 1rem;
}

.sidebarButton a {
	color: #dbdfea;
	text-decoration: none;
}